---
site_title: Thomas Bates
title: Thomas Bates
description: Notes from the Field
layout: default
show_downloads: "false"

---

<!-- <h1>An Intro</h1>
<hr>
<p>My name is Thomas Bates, I am a BSW Candidate at the University of Illinois at Urbana-Champaign, and am currently the Undergraduate Student Representative for the Illinois Chapter of the National Association of Social Workers.  The thoughts I express here are my own, and do not represent UIUC, the NASW, or my employer.

Thank you,</p>-->


<!-- {% for post in site.posts %}
	<h1 class='post-loop-title'><a href="{{ post.url }}">{{ post.title }}</a></h1>
	<p class='post-loop-excerpt'>{{ post.excerpt }}</p>
	<hr />

{% endfor %} -->

<!-- {% for post in paginator.posts %}
	<h1 class='post-loop-title'><a href="{{ post.url }}">{{ post.title }}</a></h1>
	<p class='post-loop-excerpt'>{{ post.excerpt }}</p>
	<hr />
{% endfor %} -->

<h1>Hello</h1>
<p>Please feel free to view my professional site <a href="https://www.thomasbates.info/">here.</a></p>

<!-- Pagination links -->
<div class="pagination">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
	{% else %}
	<span class="previous">Previous</span>
	{% endif %}
	<span class="page_number">
		Page: {{ paginator.page }} of {{ paginator.total_pages }}
	</span>
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="next">Next</a>
	{% else %}
	<span class="next">Next</span>
	{% endif %}
</div>
