---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');


body {
	  background: #07131E;
}

#header {
	background:#03090D;
}

#mast {
	color:#A99F8A;
	font-family: 'Alegreya', serif;
	font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
	color:#A99F8A;
    font-family: 'Alegreya', serif;
}

h1 {font-size:5em;}
h2 {font-size:3.5em;}
h3 {font-size:3em;}
h4 {font-size:2.5em;}
h5 {font-size:2em;}
h6 {font-size:1.5em;}

a {
	color: #90A0C1;
}

a:hover {
	color:#61C569;
}

.post-loop-title{
	font-size: 4em;
}

p{
	font-size: 1.5em;
    font-family: 'Alegreya', serif;
}

footer {
	background: #14151D; 
	/*width: 90%;*/
	padding:10px;
	text-align:center;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: none solid #333;
    color: #333;
    text-align: center;
}
hr:after {
    /*content: "§";*/
    content: "⚜";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: #07131E;
}

.post-title {
    text-align:center;
}